<div  class="row col-12 cards">
    <div *ngFor="let p of products" class="product-card col-3 flex-container">
        <div class="card-header">
          {{p.title}}
        </div>
        <div class="data">
        <b class="flex-item">{{p.category}}</b>
        <span class="flex-item">{{p.price}}</span>
      </div>
        <button class="btn btn-primary btn-dark-azure col-12" (click)="getProductDetails(p.id)">
          More Details
          <i class="fa fa-eye"></i></button>
      </div>
    </div>